<!--
  Generated template for the NewCasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar >
        <img  src="assets/imgs/icon-40.png" class="logo"/>
        <ion-title class="titleicon" style="display:inline-block" >New Case</ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="exit"></ion-icon>
            </button>
          </ion-buttons>



      </ion-navbar>

</ion-header>



<ion-content padding id="new-case">

  <form [formGroup]="formCase" (ngSubmit)="onAddCase(formCase.value)">
    <ion-row>
      <ion-col col-8>
          <ion-item>
              <ion-label text-rigth><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-label>
              <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="myDate" formControlName="date"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="formCase.controls.date.hasError('required') && formCase.controls.date.touched">
            <p><font color="red"> * Date is required</font></p>
          </ion-item>
    </ion-col>
    <ion-col col-4>
        <button ion-button outline block icon-right  >hn</button>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
      <ion-item>
          <ion-label><ion-icon name="medkit"></ion-icon> Hospital</ion-label>
        <ion-select  action-sheet formControlName="hos">
            <ion-option  *ngFor="let item of hospital; let i = index" value="{{item.id}}">
              {{item.hospital_name_thai}}
            </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="formCase.controls.hos.hasError('required') && formCase.controls.hos.touched">
        <p><font color="red"> * Hospital is required</font></p>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <p>Patient</p>
        <ion-item >
          <ion-input type="text" placeholder="NAME" formControlName="name"></ion-input>
        </ion-item>
        <ion-item *ngIf="formCase.controls.name.hasError('required') && formCase.controls.name.touched">
          <p><font color="red"> * Name is required</font></p>
        </ion-item>
        <ion-item >
          <ion-input type="text" placeholder="HN" formControlName="hn"></ion-input>
        </ion-item>
        <ion-item *ngIf="formCase.controls.hn.hasError('required') && formCase.controls.hn.touched">
          <p><font color="red"> * HN is required</font></p>
        </ion-item>
        <ion-item >
            <ion-input type="text" placeholder="gender" formControlName="gender"></ion-input>
          </ion-item>
          <ion-item *ngIf="formCase.controls.gender.hasError('required') && formCase.controls.gender.touched">
            <p><font color="red"> * Sex is required</font></p>
          </ion-item>
          <ion-item >
            <ion-input type="text" placeholder="AGE (number)" formControlName="age"></ion-input>
          </ion-item>
          <ion-item *ngIf="formCase.controls.age.hasError('required') && formCase.controls.age.touched">
            <p><font color="red"> * Age is required</font></p>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <p>Case type</p>
          <ion-row>
            <ion-col>
              <ion-item> 
                  <ion-label><ion-icon name="md-paper"></ion-icon> Case type</ion-label>
                  <ion-select [(ngModel)]="notifications" interface="action-sheet" formControlName="casetype">
                          <ion-option>Primary Hip</ion-option>
                          <ion-option>Revision Hip</ion-option>
                          <ion-option>Primary Knee</ion-option>
                          <ion-option>Revision Knee</ion-option>
                  </ion-select>
            </ion-item>
            <ion-item *ngIf="formCase.controls.casetype.hasError('required') && formCase.controls.casetype.touched">
              <p><font color="red"> * Case Type is required</font></p>
            </ion-item>
          </ion-col>
          </ion-row>
          </ion-col>
          </ion-row>
   

    <ion-row>
        <ion-col>
            <p>Implant Profile </p>
            <ion-row>
              <ion-col text-right id="bar">
                  <ion-icon (click)="scan()" class="icon_barcode ng-hide" ios="ios-barcode" md="md-barcode"></ion-icon>
              </ion-col>
            
              </ion-row>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button full type="submit" [disabled]="!formCase.valid">Submit</button>
        </ion-col>
      </ion-row>
    </form>

        <ion-row>
          <!-- <button ion-button (click)="service()">Service</button> -->
            <!-- <button ion-button (click)="scan()">Scan ... </button> -->
            <!-- <ion-card *ngIf="productFound">
                <ion-card-header>
                  <h2>Price: $ {{selectedProduct.price}}</h2>
                </ion-card-header>
                <ion-card-content>
                  <ul>
                    <li>{{selectedProduct.plu}}</li>
                    <li>{{selectedProduct.name}}</li>
                    <li>{{selectedProduct.desc}}</li>
                  </ul>
                </ion-card-content>
              </ion-card> -->

              <ion-card *ngFor="let item of dataArray; let i = index">
                  <ion-card-header *ngIf="selectedImpant">
                    <h2>No : {{i}} Implant</h2>
                  </ion-card-header>
                  <ion-card-content>
                    <ul>
                      <li>{{item.component_description}}</li>
                      <li>{{item.size}}</li>
                    
                    </ul>
                  </ion-card-content>
                </ion-card>
        </ion-row>
       
</ion-content>
